<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %> |
  <%= link_to "Download PDF schedule", student_path(@student, format: :pdf) %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
